body {    
  background-color: rgba(214, 214, 214, 0.95);
}  

  
  .top-mid-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    line-height: 1.5;
    margin-top: -10vw;
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
  
  .top-mid-title{
    grid-area: top-mid-title;
    text-align: center;
      padding: 1vw;
    font-size: clamp(1.5rem, 4vw, 3rem);
  }
 
  
  .top-mid-paragraph {
    grid-area: top-mid-paragraph;
    text-align: left;
      padding: 1vw;
      margin: 1vw;
      margin-bottom: 10vw;
  }



  